In [9]:
import datetime
p = datetime.datetime.now()
print("Date and time is:",datetime.datetime.now())
print("Date and time is: {}".format(p))

Date and time is: 2020-09-22 18:01:37.371990
Date and time is: 2020-09-22 18:01:37.371920

In [18]:
# variable types - int, float, strings
a = 11
b = "Krishna"
c = 10
k = 2.5
d = "ae"
e = a + c
f = b + d
g = c + k

print(a, b, c, d, e, f, g)

11 Krishna 10 ae 21 Krishnaae 12.5

In [19]:
# lists
p = [1, 2, 3]
p

[1, 2, 3]

In [22]:
# lists
p = ["x", "z"]
p

['x', 'z']

In [6]:
u = list(range(3))
w = list(range(1, 10))
v = list(range(1, 10, 2))
print(u, w, v)

[0, 1, 2] [1, 2, 3, 4, 5, 6, 7, 8, 9] [1, 3, 5, 7, 9]

In [9]:
rainfall = [ 10, 2.3, "drops", [1, 2, 3]]
rainfall

[10, 2.3, 'drops', [1, 2, 3]]

In [18]:
grades = [ 1, 2.3, 3]
m = max(grades)
mn = min(grades)
s = sum(grades)
l = len(grades)
avg = s/l
print(s, l, m, mn, avg)

6.3 3 3 1 2.1

In [19]:
#count no of 10.0 s in list using list.count()
student_grades = [9.1, 8.8, 10.0, 7.7, 6.8, 8.0, 10.0, 8.1, 10.0, 9.9]
p = student_grades.count(10.0)
print(p)

3

In [1]:
p = "k".upper()
p

'K'

In [3]:
seconds = [1.2323442655, 1.4534345567, 1.023458894]
current = 1.10001399445
seconds.append(current)
seconds

[1.2323442655, 1.4534345567, 1.023458894, 1.10001399445]

In [4]:
n = [ 1, 2, 3, 4, 5]
n[0:]

[1, 2, 3, 4, 5]

In [5]:
n = [ 1, 2, 3, 4, 5]
n[:4]

[1, 2, 3, 4]

In [6]:
n = [ 1, 2, 3, 4, 5]
n[0:3]

[1, 2, 3]

In [7]:
n = [ 1, 2, 3, 4, 5]
n[-1]

5

In [17]:
[ 1, [ 2, 3] , 4, 5][-3][-2]

2

In [16]:
[ "we", "ds" , "ec" ][-2][-2]

'd'

In [18]:
n = [ 1, 2, 3, 4, 5]
n[:2]

[1, 2]

In [19]:
n = [ 1, 2, 3, 4, 5]
n[-3:]

[3, 4, 5]

In [20]:
n = [ 1, 2, 3, 4, 5]
n[:-1]

[1, 2, 3, 4]

In [21]:
v = { "jsh" : "aad" , "qqe" : "adc" , "wee" : "add" }
v["jsh"]

'aad'

In [5]:
def mean(m):
    mn = sum(m)/len(m)
    return(mn)
print(mean([1, 2, 3]))

2.0

In [6]:
def area(l):
    a = l*l
    return a
area(10)

100

In [7]:
def convert(o):
    m = o * 29.57353
    return m
convert(3)

88.72059

In [13]:
x = "hah"
if isinstance(x, int) or isinstance(x, float) or x=='1':
    print("Valid type!")
else:
    print("Not valid!")

Not valid!

In [9]:
def name():
    print("Enter name")
    i = input()
    if len(i)< 8:
        return False
    else: 
        return True
name()

Enter name
Pal

False

In [13]:
def temp(i):
    if i > 7:
        print("warm")
    else: 
        print("cold")
temp(4)

cold

In [14]:
isinstance("stjj",str)

True

In [24]:
l = [1, 2, 3]
isinstance(l, list)

True

In [29]:
l = {"a" : 1, "b" : 2, "c" : 3}
if isinstance(l, dict):
    print("a")

a

In [22]:
type([])==list

True