In [20]:
def mean(l):
    mn = sum(l)/ len(l)
    return mn

p = mean([ 1, 2, 3])
my = p + 10
print(p, my)

2.0 12.0

In [26]:
def mean(l):
    if isinstance(l, dict):
        mn = sum(l.values())/ len(l)
        return mn
    else:
        mn = sum(l)/ len(l)
        return mn

s_grades = mean({"a" : 1, "b" : 2, "c" : 3})
print(s_grades)

2.0

In [28]:
def name(s):
    if len(s)< 8:
        return False
    else: 
        return True
name("PAL")

False

In [30]:
def temp(s):
    if s >  7:
        return "warm"
    else: 
        return "cold"
temp(2)

'cold'

In [31]:
def temp(t):
    if t > 25: return "Hot"
    elif t >= 15 and t <= 25 : return "warm"
    else: return "cold"
    
temp(87)

'Hot'

In [32]:
message = "Namaskaram ! "
 
if "Namaskaram" in message:
    print("Welcome")
else:
    print("Pranam")

Welcome

In [35]:
def temp(t):
    if t > 25: return "Hot"
    elif t >= 15 and t <= 25 : return "warm"
    else: return "cold"
    
temp(float(input("Enter temp: ")))

Enter temp: 21

'warm'

In [45]:
t= int(input("Enter temp: "))
type(t)

Enter temp: 3

int

In [51]:
i = input("What's your name?")
l = input("Your surname?")
print("Namaskaram! {} {}".format(i, l))

What's your name?P
Your surname?W
Namaskaram! P W

In [52]:
def name(i):
    p = print("Hi {}".format(i))
    return p
    
name("Pallavi")

Hi Pallavi

In [53]:
def name(i):
    p = print("Hi {}".format(i.title()))
    return 
    
name("pallavi")

Hi Pallavi

In [55]:
experience_months = input("Enter your experience in months: ")
experience_years = int(experience_months) / 12
experience_years

Enter your experience in months: 32

2.6666666666666665

In [56]:
def celsius_to_kelvin(cels):
    return cels + 273.15

monday_temperatures = [9.1, 8.8, -270.15]
 
for temperature in monday_temperatures:
    print(celsius_to_kelvin(temperature))

282.25
281.95
3.0

In [58]:
d = { "a" : 123, "b" : 234 }
for i in d.values():
    print(i)

123
234

In [70]:
phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}
 
for p in phone_numbers.items():
    print(p)

('John Smith', '+37682929928')
('Marry Simpons', '+423998200919')

In [71]:
phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}
 
for key, value in phone_numbers.items():
    print("{} has as phone number {}".format( key, value))

John Smith has as phone number +37682929928
Marry Simpons has as phone number +423998200919

In [72]:
phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}
for i, k in phone_numbers.items():
    print("{}: {}".format(i,k))

John Smith: +37682929928
Marry Simpons: +423998200919

In [73]:
phone_numbers = {"John Smith": "+37682929928", "Marry Simpons": "+423998200919"}

for value in phone_numbers.values():
    print(value.replace("+", "00"))

0037682929928
00423998200919

In [ ]:
d = {"ad" : 123, "bc" : 234}
for i in d.values():
    p= str(i)
    print(p.replace("2", "*"))
print(type(i), type(p))

In [ ]:
p = 2
t = str(p)
print(p, t, type(t))